fastapi==0.110.0
uvicorn[standard]==0.29.0

# Model dependencies
scikit-learn==1.4.2
xgboost==2.0.3
category_encoders==2.6.3
joblib==1.4.2

# Data handling
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2

gdown